---
layout: archive
---

{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<br>
<ul class="post-list"> 
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
      </h2>
      <span class="post-description">{{ post.excerpt | markdownify| truncatewords: 30 }}</span>
      <br>
      <hr>
    </li>
  {% endfor %}
</ul>
